[submodule "AlfredSwift"]
	path = AlfredSwift
	url = https://github.com/iT-Boyer/AlfredSwift
[submodule "fastlane"]
	path = fastlane
	url = git@github.com:it-boyer/iFastlaneRunner.git
[submodule "iAutomator"]
	path = iAutomator
	url = https://github.com/it-boyer/iAutomator.git
[submodule "iPapp"]
	path = iPapp
	url = https://github.com/it-boyer/iPapp.git
